@page "/addCustomer"
@using BlazorFullStack.Contract
@using BlazorLibrarianPage.Services
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<h3>AddCustomer</h3>

<EditForm Model="@Customer" OnValidSubmit="@AddCustomerAsync">
    <DataAnnotationsValidator />
    <div class="form-group mb-2">
        <label for="name">Name:</label>
        <InputText class="form-control" id="name" @bind-Value="Customer.Name" />
        <ValidationMessage For="() => Customer.Name" />
    </div>
    <div class="form-group mb-2">
        <label for="address">Address:</label>
        <InputText class="form-control" id="address" @bind-Value="Customer.Address" />
    </div>
    <div class="form-group mb-2">
        <label for="readingNumber">Reading Number:</label>
        <InputNumber class="form-control" id="readingNumber" @bind-Value="Customer.ReadingNumber" />
        <ValidationMessage For="() => Customer.ReadingNumber" />
    </div>
    <div class="form-group mb-2">
        <label for="dateOfBirth">Date of Birth:</label>
        <InputDate class="form-control" id="dateOfBirth" @bind-Value="Customer.DateOfBirth" />
    </div>
    <button type="submit" class="btn btn-primary">Add Customer</button>
</EditForm>

@code {
    private Member Customer { get; set; } = new();

    private async Task AddCustomerAsync()
    {
        await CustomerService.AddMemberAsync(Customer!);
        NavigationManager.NavigateTo("/customerlist");
    }
}
